.App {
  text-align: center;
  margin: 4em 0;
}
.btn-toggle {
  border: 1px solid #6799b7;
  outline: none;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 4px;
  color: #3e6c88;
  font-size: 14px;
}